@import url("https://fonts.googleapis.com/css?family=Fjalla+One");

body{
  background-color: #FFEEDB;
  font-family: "Fjalla One", sans-serif;
}

hr{
  margin: 30px;
}

#imgContainer{
  margin-left: 40px;
  display: inline-block;
}

#aigis{
  position:absolute;
  left: 650px;
  bottom: 0;
  z-index: -1;
}

#aboutContainer{
  float: left;
  width: 500px;
  margin: 40px;
  font-size: 3em;
  text-align: right;

  position:absolute;
  bottom: 300px;
}

#aboutTitle{
  padding: 0;
  margin: 0;
}

#linkContainer{
  text-transform: uppercase;
  background-color: #912F56AA;
  box-shadow: 5px 5px #521945;
}

#socialLinks{
  list-style: none;
  padding: 20px;
}

#socialLinks li{
  margin-bottom: 5px;
}

#socialLinks a{
  color: #000000;
}
