@import url("https://fonts.googleapis.com/css?family=Changa+One");

body{
  background-color: #FFEEDB;
  font-family: "Changa One", cursive;
  color: #483C46;
}

hr{
  margin: 30px;
}

#imgContainer{
  margin-left: 40px;
  display: inline-block;
}

#aigis{
  position:fixed;
  left: 700px;
  bottom: 0;
  z-index: -1;
}

#aboutContainer{
  float: left;
  width: 600px;
  margin: 40px;
  font-size: 3em;
  text-align: right;

  position:static;
  bottom: 300px;
}

#linkContainer{
  text-transform: uppercase;
  background-color: rgba(146, 31, 86, 0.65);
  box-shadow: 5px 5px #521945;
}

#socialLinks{
  list-style: none;
  padding: 20px;
}

#socialLinks li{
  margin-bottom: 5px;
}

#socialLinks a{
  color: #483C46;
}

.platform{
  color: #FFFFFF;
}
